body {
  background-color: #3B5999;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  font-family: 'Arvo', serif;
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 50px;
}

div {
  width: 400px;
	height: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

img {
  border-radius: 50%;
  width: 150px;
  height: 250px;
  border: 5px solid #FFFFFF;
}

section {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

#towerofhanoi {
  background: url("img/towerofhanoi.jpg");
  background-size: cover;
}

#snitch {
  background: url("img/snitch.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: #FFFFFF;
}
