body {
  margin-left: auto;
  margin-right: auto;
  background: url("img/profile.jpg");
  background-repeat: no-repeat;
  background-size:auto;
}

/* #main {

  background-size: cover;
  width: 100%;
  height: 700px;
  margin-top: auto;
} */

/* #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */
